/* All page infomation */

body {
	Margin: 0px;
	Padding: 0;
	Font-family: Serif;
	background-color: #404040;
}

@font-face {
	font-family: 'troutbeck_demoregular';
	src: url("font/troutbeck_demo-webfont.woff2") format('woff2'),
		url("font/troutbeck_demo-webfont.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}

p {
	font-family: 'troutbeck_demoregular';
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
}

/* Banner details */

.banner {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2a2b2d;
	overflow-x: hidden;
	padding-top: 10px;
	padding-left: 6px;
}

.logo {
	width: 75%;
	height: 25%;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 18px;
}

.menuitems {
	font-family: troutbeck_demoregular;
	font-size: 37px;
	text-align: center;
	letter-spacing: 1px;
	color: white;
}

a:link {
	color: #fff;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #ff003a;
}

/* Homepage */

.imageBanner {
	background: url('./images/background.png');
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 860px;
	display: flex;
	align-items: left;
	flex-direction: column;
}

.imageBannerTitle {
	font-size: 150px;
	font-family: troutbeck_demoregular;
	color: #fff;
	padding-left: 350px;
}

.imageBannerSubtext {
	font-size: 40px;
	margin-top: 20px;
	font-weight: light;
	font-family: troutbeck_demoregular;
	color: #fff;
	padding-top: 150px;
	padding-left: 600px;
}

.imageBannerSubtext1 {
	font-size: 40px;
	margin-top: 20px;
	font-weight: light;
	font-family: troutbeck_demoregular;
	color: #fff;
	padding-left: 475px;
}

/* Social Links */

.socialrow {
	float: left;
	width: 33.33%;
	padding-left: 475px;
}

.socialrow2::after {
	content: "";
	clear: both;
	display: table;
}

.menuitem {
	user-select: none;
	cursor: pointer;
}

.menuitem {
	margin-bottom: 40px;
	margin-top: 40px;
}

.imageBannerSubtext1 {
	margin-bottom: 250px;
}

.socialImage {
	width: 100px;
}

#youTubeImage {
	display: inline-block;

}

#twitterImage {
	display: inline-block;

}

#instagramImage {
	display: inline-block;

}

/* Pages other than Home */

.socialrowpage {
	float: left;
	width: 33.33%;
	padding-left: 775px;
}

.pageback {
	background: url('./images/fullpage.png');
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: left;
	flex-direction: column;

}

/* About Page */

.pagebackabout {
	background: url('./images/fullpage.png');
	background-size: cover;
	width: 100vw;
	height: 1200px;
	display: flex;
	align-items: left;
	flex-direction: column;
}


.abouttitle {
	font-size: 125px;
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	padding-top: 20px;
	padding-left: 120px
}

.about1 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.about2 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.about3 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.about4 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.about5 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.about6 {
	font-family: troutbeck_demoregular;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding-left: 120px;
	padding-top: 50px;
}

.gitlink {
	font-family: troutbeck_demoregular;
	color: #fff;
	width: fit-content;
	align-items: baseline;
	font-size: 39px;
}

.gitlink:hover {
	color: #ff003a;
}

.linkContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hockey{
	width:100%;
	height:100%;
}